     <!-- Section: Bestsellers & offers -->
        <section>

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-12">

              <!-- Nav tabs -->
              <ul class="nav md-tabs nav-justified grey lighten-3 mx-0" role="tablist">

                <li class="nav-item">

                  <a class="nav-link active dark-grey-text font-weight-bold" data-toggle="tab" href="#panel8"
                    role="tab"> New Products </a>

                </li>

                <li class="nav-item">

                  <a class="nav-link dark-grey-text font-weight-bold" data-toggle="tab" href="#panel9" role="tab">Top Sellers</a>

                </li>

                <li class="nav-item">

                  <a class="nav-link dark-grey-text font-weight-bold" data-toggle="tab" href="#panel0" role="tab">Random Products</a>

                </li>

              </ul>

              <!-- Tab panels -->
              <div class="tab-content px-0">

                <!-- Panel 1 -->
                <div class="tab-pane fade in show active " id="panel8" role="tabpanel">
                  <br>
                  <!-- Grid row -->
                  <div class="row">
                      {% for latestitem in latest %}
                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-12 mb-4">

                      <!-- Card -->
                      <div class="card card-ecommerce">

                        <!-- Card image -->
                        <div class="view overlay">

                          <img src="{{latestitem.image.url}}" alt="sample image" class="img-fluid">

                          <a href="{{ latestitem.get_absolute_url }}">

                            <div class="mask rgba-white-slight"></div>

                          </a>

                        </div>
                        <!-- Card image -->

                        <!-- Card content -->
                        <div class="card-body">

                          <!-- Category & Title -->
                          <h5 class="card-title mb-1">
                            <strong>
                              <a href="" class="dark-grey-text">{{latestitem.title}}</a>
                            </strong>
                          </h5>

                          {% for labe in latestitem.label.all %}
                            {% if labe.name == "best seller" %}
                              <span class="badge badge-danger mb-2">{{ labe.name }}</span>
                            {% endif %}
                            {% if labe.name == "new" %}
                              <span class="badge badge-info mb-2">{{labe.name}}</span>
                            {% endif %}
                            {% if labe.name == "best rated" %}
                              <span class="badge badge-success mb-2">{{labe.name}}</span>
                            {% endif %}
                          {% endfor %}

                          <!-- Rating -->
                          <ul class="rating inline-ul">

                            <li><i class="fas fa-star {% if latestitem.avg_rating < 1 %}grey-text{% endif %}"></i></li>
                            <li><i class="fas fa-star {% if latestitem.avg_rating < 2 %}grey-text{% endif %}"></i></li>
                            <li><i class="fas fa-star {% if latestitem.avg_rating < 3 %}grey-text{% endif %}"></i></li>
                            <li><i class="fas fa-star {% if latestitem.avg_rating < 4 %}grey-text{% endif %}"></i></li>
                            <li><i class="fas fa-star {% if latestitem.avg_rating < 5 %}grey-text{% endif %}"></i></li>

                          </ul>

                          <!-- Card footer -->
                          <div class="card-footer pb-0">
                            <div class="row mb-0">
                              <!-- Price -->
                                <h6 class="h6-responsive font-weight-bold dark-grey-text"><strong>
                                  {% if latestitem.discount_price %}
                                    <span class="mr-1">
                                     <small> <del style="color: red;">${{ latestitem.price }}</del> </small>
                                    </span>
                                    <span>${{ latestitem.discount_price }}</span>
                                  {% else %}
                                    <span>${{ latestitem.price }}</span>
                                  {% endif %}
                                </strong>
                                </h6>
                              <span class="float-right">

                                <a href="{{ latestitem.get_add_to_cart_url }}" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                                  <i class="fas fa-shopping-cart ml-3"></i>
                                </a>
                              </span>
                            </div>
                          </div>
                          </div>
                        <!-- Card content -->
                      </div>
                      <!-- Card -->
                    </div>
                    <!-- Grid column -->
                      {% endfor %}
                  </div>
                  <!-- Grid row -->
                </div>
                <!-- Panel 1 -->

                <!-- Panel 2 -->
                <div class="tab-pane fade" id="panel9" role="tabpanel">
                  <br>
                  <!-- Grid row -->
                  <div class="row mb-3">
                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-12 mb-4">
                      <!-- Card -->
                      <div class="card card-ecommerce">
                        <!-- Card image -->
                        <div class="view overlay">
                          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/8.jpg"
                            class="img-fluid" alt="sample image">

                          <a>

                            <div class="mask rgba-white-slight"></div>

                          </a>

                        </div>
                        <!-- Card image -->

                        <!-- Card content -->
                        <div class="card-body">

                          <!-- Category & Title -->
                          <h5 class="card-title mb-1">

                            <strong>

                              <a href="" class="dark-grey-text">Samsung V54</a>

                            </strong>

                          </h5>

                          <span class="badge grey mb-2">best rated</span>

                          <!-- Rating -->
                          <ul class="rating">

                            <li>

                              <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                              <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                              <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                              <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                              <i class="fas fa-star blue-text"></i>

                            </li>

                          </ul>

                          <!-- Card footer -->
                          <div class="card-footer pb-0">

                            <div class="row mb-0">

                              <span class="float-left">

                                <strong>1439$</strong>

                              </span>

                              <span class="float-right">

                                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                                  <i class="fas fa-shopping-cart ml-3"></i>

                                </a>

                              </span>

                            </div>

                          </div>

                        </div>
                        <!-- Card content -->
                      </div>
                      <!-- Card -->
                    </div>
                    <!-- Grid column -->
                      <!-- Grid column -->
                    <div class="col-lg-4 col-md-12 mb-4">

                      <!-- Card -->
                      <div class="card card-ecommerce">

                        <!-- Card image -->
                        <div class="view overlay">

                          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg"
                            class="img-fluid" alt="sample image">

                          <a>

                            <div class="mask rgba-white-slight"></div>

                          </a>

                        </div>
                        <!-- Card image -->

                        <!-- Card content -->
                        <div class="card-body">

                          <!-- Category & Title -->
                          <h5 class="card-title mb-1">

                            <strong>

                              <a href="" class="dark-grey-text">Asus CT-567</a>

                            </strong>

                          </h5>

                          <span class="badge badge-danger mb-2">bestseller</span>

                          <!-- Rating -->
                          <ul class="rating">

                            <li>

                              <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                              <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                              <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                              <i class="fas fa-star blue-text"></i>

                            </li>

                            <li>

                              <i class="fas fa-star blue-text"></i>

                            </li>

                          </ul>

                          <!-- Card footer -->
                          <div class="card-footer pb-0">

                            <div class="row mb-0">

                              <span class="float-left">

                                <strong>1439$</strong>

                              </span>

                              <span class="float-right">

                                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                                  <i class="fas fa-shopping-cart ml-3"></i>

                                </a>

                              </span>

                            </div>

                          </div>

                        </div>
                        <!-- Card content -->

                      </div>
                      <!-- Card -->

                    </div>
                    <!-- Grid column -->
                  </div>
                  <!-- Grid row -->
                </div>
                <!-- Panel 2 -->

                <!-- Panel 3 -->
                <div class="tab-pane fade" id="panel0" role="tabpanel">
                  <br>
                  <!-- Grid row -->
                  <div class="row">
                      {% for randomitem in randomprods %}
                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-12 mb-4">
                      <!-- Card -->
                      <div class="card card-ecommerce">
                        <!-- Card image -->
                        <div class="view overlay">

                          <img src="{{randomitem.image.url}}" alt="sample image" class="img-fluid">

                          <a href="{{ randomitem.get_absolute_url }}">

                            <div class="mask rgba-white-slight"></div>

                          </a>

                        </div>
                        <!-- Card image -->
                        <!-- Card content -->
                        <div class="card-body">
                          <!-- Category & Title -->
                          <h5 class="card-title mb-1">
                            <strong>
                              <a href="" class="dark-grey-text">{{randomitem.title}}</a>
                            </strong>
                          </h5>
                          {% for labe in randomitem.label.all %}
                            {% if labe.name == "best seller" %}
                              <span class="badge badge-danger mb-2">{{ labe.name }}</span>
                            {% endif %}
                            {% if labe.name == "new" %}
                              <span class="badge badge-info mb-2">{{labe.name}}</span>
                            {% endif %}
                            {% if labe.name == "best rated" %}
                              <span class="badge badge-success mb-2">{{labe.name}}</span>
                            {% endif %}
                          {% endfor %}

                          <!-- Rating -->
                          <ul class="rating inline-ul">

                            <li><i class="fas fa-star {% if randomitem.avg_rating < 1 %}grey-text{% endif %}"></i></li>
                            <li><i class="fas fa-star {% if randomitem.avg_rating < 2 %}grey-text{% endif %}"></i></li>
                            <li><i class="fas fa-star {% if randomitem.avg_rating < 3 %}grey-text{% endif %}"></i></li>
                            <li><i class="fas fa-star {% if randomitem.avg_rating < 4 %}grey-text{% endif %}"></i></li>
                            <li><i class="fas fa-star {% if randomitem.avg_rating < 5 %}grey-text{% endif %}"></i></li>

                          </ul>

                          <!-- Card footer -->
                          <div class="card-footer pb-0">

                            <div class="row mb-0">

                              <!-- Price -->
                                <h6 class="h6-responsive font-weight-bold dark-grey-text"><strong>
                                  {% if randomitem.discount_price %}
                                    <span class="mr-1">
                                     <small> <del style="color: red;">${{ randomitem.price }}</del> </small>
                                    </span>
                                    <span>${{ randomitem.discount_price }}</span>
                                  {% else %}
                                    <span>${{ randomitem.price }}</span>
                                  {% endif %}
                                </strong>
                                </h6>

                              <span class="float-right">

                                <a href="{{ randomitem.get_add_to_cart_url }}" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                                  <i class="fas fa-shopping-cart ml-3"></i>
                                </a>
                              </span>
                            </div>
                          </div>
                        </div>
                        <!-- Card content -->
                      </div>
                      <!-- Card -->
                    </div>
                      {% endfor %}
                    <!-- Grid column -->
                  </div>
                  <!-- Grid row -->
                </div>
                <!-- Panel 3 -->
              </div>
                <!-- Tab Panels -->
          </div>
          <!-- Grid column-->
          </div>
            <!-- Grid Row -->
        </section>
        <!-- Section: Bestsellers & offers -->