{% load static %}
  

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/addons/steppers.min.js' %}"></script>





<!-- Initializations -->
<script type="text/javascript">
  // Animations initialization
  new WOW().init();

  // Tooltips Initialization
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  // Material Select Initialization
  $(document).ready(function () {
    $('.mdb-select').materialSelect();
  });

  // SideNav Initialization
  $(".button-collapse").sideNav();

  window.setTimeout(function(){
    $(".alert").fadeTo(500, 0).slideUp(500,function(){
      $(this).remove();
    });
  },4000);



  
</script>


