{% load static %}
<!-- SCRIPT LOADING START FORM HERE /////////////-->
    <!-- plugins:js -->
    <script src="{% static 'assets/vendors/js/core.js' %}"></script>
    <script src="{% static 'assets/vendors/js/vendor.addons.js' %}"></script>

    <!-- MDBootstrap Datatables  -->
    <script type="text/javascript" src="{% static 'js/addons/datatables.js' %}"></script>
    
    <script src="{% static 'js/addons/datatables-select.js' %}"></script>


    <!-- endinject -->
    <!-- Vendor Js For This Page Ends-->
    <script src="{% static 'assets/vendors/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/vendors/chartjs/Chart.min.js' %}"></script>
    <script src="{% static 'assets/js/charts/chartjs.addon.js' %}"></script>
    <!-- Vendor Js For This Page Ends-->
    <!-- build:js -->
    <script src="{% static 'assets/js/template.js' %}"></script>
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    <!-- endbuild -->