{% extends 'base.html' %}

{% block content %}

<br>
<div class="container">
  <div class="row pt-4">
    <!-- Content -->
    <div class="col-lg-12">
        <div class="card card-body">

            <p>Are you sure you want to delete {{item}}</p>
            <form method="post" action="{% url 'seller:delete_item' item.slug %}">
                {% csrf_token %}
                <a class="btn btn-warning btn-rounded" href="{% url 'seller:admin_view' %}"> Cancel</a>
                <input class="btn btn-danger btn-rounded" type="submit" name="Confirm">
            </form>

        </div>
    </div>
  </div>
</div>
{% endblock %}