{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<br>
<section>
    <div class="row">
       <div class="container">
            <div class="card">
                <div class="card-body">
                    {% if new_comment %}
                        <div class="alert alert-success" role="alert">
                          Your comment is awaiting moderation
                        </div>
                    {% else %}
                    <h4 class="text-uppercase">Write Your Review</h4>

                        <form class="review-form" action="" method="post">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="subject">Subject</label>
                                <input class="form-control" name="subject" type="text">
                            </div>

                            <div class="form-group">
                                <label for="review">Make a review</label>
                                <textarea class="form-control" name="review" rows="9"></textarea>
                            </div>

                            <div class="form-group">
                               
                                <div class="rate">
                                    <input type="radio" id="star5" name="rate" value="5" />
                                        <label for="star5" title="5 stars">5 stars</label>
                                    <input type="radio" id="star4" name="rate" value="4" />
                                        <label for="star4" title="4 stars">4 stars</label>
                                    <input type="radio" id="star3" name="rate" value="3" />
                                        <label for="star3" title="3 stars">3 stars</label>
                                    <input type="radio" id="star2" name="rate" value="2" />
                                        <label for="star2" title="2 stars">2 stars</label>
                                    <input type="radio" id="star1" name="rate" value="1" />
                                        <label for="star1" title="1 star">1 star</label>
                                </div>

                            </div>
                            <br>

                            {% if request.user.is_authenticated %}
                            <button class="btn btn-info btn-sm">Submit</button>
                            {% else %}
                            Log in to make a review
                            {% endif %}
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <hr>
       <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">
          <div class="col-md-6">
            <div class="product-reviews">
                {% for re in reviews %}
                <div class="single-review">
                    <div class="review-heading">
                        <div> <a href="#"> <i class="fa fa-user-o"></i> {{re.name}}</a></div>
                        <div> <b>  {{re.subject}}</b></div>
                        <div> <a href="#"> <i class="fa fa-clock-o"></i> {{re.created_on}}</a></div>

                        <div class="review-rating pull-right">
                            <i class="fas fa-star blue-text{% if re.rate < 1 %}-o empty{% endif %}"></i>
                            <i class="fas fa-star blue-text{% if re.rate < 2 %}-o empty{% endif %}"></i>
                            <i class="fas fa-star blue-text{% if re.rate < 3 %}-o empty{% endif %}"></i>
                            <i class="fas fa-star blue-text{% if re.rate < 4 %}-o empty{% endif %}"></i>
                            <i class="fas fa-star blue-text{% if re.rate < 5 %}-o empty{% endif %}"></i>
                        </div>

                    </div>
                    <div class="review-body">
                        <p>
                            {{ re.review | linebreaks }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
      </div>

</section>
{% endblock %}