{% extends 'base.html' %}

{% block content %}
{% include 'status.html' %}
<br>

<div class="btn-group">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Search Items Added</button>

    <div class="dropdown-menu">
         <form method="get">
             <span class="dropdown-item">Title: {{myfilter.form.title}}</span>
             <div class="dropdown-divider"></div>
             <span class="dropdown-item">Description: {{myfilter.form.description}}</span>
             <div class="dropdown-divider"></div>
             <span class="dropdown-item">Price: {{myfilter.form.price}}</span>
             <div class="dropdown-divider"></div>
             <span class="dropdown-item">Discount price: {{myfilter.form.discount_price}}</span>
             <div class="dropdown-divider"></div>
             <span class="dropdown-item">Label: {{myfilter.form.label}}</span>
             <div class="dropdown-divider"></div>
             <span class="dropdown-item">Category: {{myfilter.form.category}}</span>
             <div class="dropdown-divider"></div>
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
    </div>

</div>

<br>

<div  class="row">
        <div class="col-md">
            <h5>ITEMS ADDED</h5>
            <br>
            <div class="card card-body">

                <table class="table table-striped w-5">
                    <thead>
                         <tr>
                        <th>Item</th>
                         <th>Price</th>
                         <th>Discount Price</th>
                        <th>Category</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
                    </thead>
                   <tbody>
                       {% for item in items %}
                    <tr>
                        <td>{{item.title}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.discount_price}}</td>
                        <td>{{item.category}}</td>
                        <td><a style="color:blue;" href="{% url 'core:update_item' item.slug %}"><i class="fas fa-pen"></i></a></td>
                        <td><a style="color: red;" href="{% url 'core:delete_item' item.slug %}"><i class="far fa-trash-alt float-right"></i></a></td>
                    </tr>
                    {% endfor %}
                   </tbody>
                    
                </table>
            </div>
        </div>
    </div>

<br>

    <div class="row">

        <div class="col-md-5">

         <div class="card card-body">
           <h5>Items</h5>
             <br>
             <a class="btn btn-outline-info btn-md btn-block" href="{% url 'core:add_item' %}">Add Item</a>
         </div>
       </div>
    </div>

<br>

    <div class="row">
        <div class="col-md">
            <h5>LAST 5 ORDERS:</h5>
            <br>
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Product</th>
                         <th>Date Ordered</th>
                         <th>Owner</th>
                        <th>Reference Code</th>
                    </tr>
                    {% for order in orders %}
                    <tr>
                        <td>{{order.items}}</td>
                        <td>{{order.ordered_date}}</td>
                        <td>{{order.user}}</td>
                        <td>{{order.ref_code}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

<br>

{% endblock %}
{% block extra_scripts %}
    
<script type="text/javascript" >
    $(document).ready(function () {
  $('#dtBasicExample').DataTable();
  $('.dataTables_length').addClass('bs-select');
  });
  </script>
  {% endblock extra_scripts %}