{% extends 'base.html' %}

{% block content %}
{% include 'status.html' %}
    <br>

    <div class="row">

        <div class="col-md-5">

         <div class="card card-body">
           <h5>Items</h5>
             <br>
             <a class="btn btn-outline-info btn-md btn-block" href="{% url 'core:add_item' %}">Add Item</a>
             <a class="btn btn-outline-danger btn-md btn-block" href="">Update Item</a>
         </div>
       </div>
    </div>

    <div class="row">
        <div class="col-md">
            <h5>LAST 5 ORDERS:</h5>
            <br>
            <div class="card card-body">

                <table class="table table-sm">
                    <tr>
                        <th>Product</th>
                         <th>Date Ordered</th>
                         <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
